<div class="container">
  <div class="row">
    <div class="col">
      <img class="image" src="../assets/images/amanda.jpeg" alt="amanda">
    </div>
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Bem vindo/a!</h1>
        <p class="lead">Estagiaria do Labs da Atech. <br>
           Graduanda em Ciência e Tecnologia, com ênfase em Ciência da computação. <br>
           Cursando tecnológo de Ciência de dados.
          </p>
        <hr class="my-4">
        <p>Para me conhecer mais, navegue pelo site ou faça o download do meu CV no botão abaixo.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="../assets/files/cv.pdf" role="button" download>Download CV</a>
        </p>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Formação</th>
          <th scope="col">Conhecimento técnico</th>
          <th scope="col">Experiência</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Bacharelado em Ciência e tecnologia
            <i class="material-icons">check_box_outline_blank</i>
          </td>
          <td>Angular
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>

          </td>
          <td>Estágiaria Full-Stack - Atual</td>
        </tr>
        <tr>
          <td scope="row">Tecnológo em Ciência de Dados
            <i class="material-icons">check_box_outline_blank</i>
          </td>
          <td>Spring-boot
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>

          </td>
          <td>Estágiaria Informática - 2019</td>
        </tr>
        <tr>
          <td scope="row">Especialização técnica em Gestão de projetos
            <i class="material-icons">check_box</i>

          </td>
          <td>Docker
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>

          </td>
          <td>Menor Aprendiz - 2016/2017</td>
        </tr>
      </tbody>
    </table>
  </div>
