<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Pessoal
            <i class="material-icons">emoji_people</i>
          </h5>
          <p class="card-text">Sou uma pessoa tranquila que gosta de maratonar series, fazer carinho em gatos e ler livros de poesia moderna.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 50rm;">
        <div class="card-body">
          <h5 class="card-title">Profissional
            <i class="material-icons">school</i>
          </h5>
          <p class="card-text">Estagiaria de desenvolvimento fullstack do Labs, centro de inovação da Atech, empresa do Grupo Embraer. <br>
            Cursando Ciência e tecnologia, com ênfase em Ciência da Computação, na UNIFESP. <br>
            Cursando tecnológo de CIência de dados na UNICID. <br>
            Técnica em Administração, com experiência em rotinas administrativas. <br>
            Especialista tecnica em Gestão de projetos</p>
        </div>
      </div>
    </div>
  </div>
</div>
