<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/certificate-alura-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Angular e Jasmine: Testes de unidade para sua aplicação</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/certificate-alura-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Angular parte 1: Fundamentos</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="../assets/images/certificate-alura-01.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bootstrap: criação de uma single-page responsiva</h5>
        </div>
      </div>
    </div>
  </div>
</div>


