
<div class="container">
  <div class="header">
    <h1>Experiência profissional</h1>
    <h2>Esta timeline todas as experiências profissionais que já passei.</h2>
  </div>
  <div class="item">
    <div id="timeline">
      <div>
        <section class="year">
          <h3>2020</h3>
          <section>
            <!-- <h4>Estagiaria Full Stack</h4> -->
            <ul>
              <li>Atech - Grupo Embraer</li>

             <!-- Rotina de atividades baseada nos ritos da metodológia Scrum e versionamento de código baseado no Git Flow. <br>
              Criação de pipeline de entrega contínua utilizando Gitlab CI e Docker<br>
              Desenvolvimento de testes unitários em back-end e front-end utilizando Jasmine e JUnit.<br>
              Criação de aplicações web baseadas em single-page application utilizando Angular. <br>
              Construção de APIs utilizando conceitos de clean architecture.<br> -->
            </ul>
          </section>
        </section>
        <section class="year">
          <h3>2019</h3>
          <section>
            <h4>Maio</h4>
            <ul>
              <li>Prefeitura de São José dos Campos</li>
            </ul>
          </section>
        </section>
        <section class="year">
          <h3>2018</h3>
          <section>
            <h4>Abril</h4>
            <ul>
              <li>Empresa Multidisciplinar de Ciência e Tecnologia</li>
            </ul>
          </section>
        </section>
        <section class="year">
          <h3>2016</h3>
          <section>
            <h4>Fevereiro</h4>
            <ul>
              <li>Planneta Educação</li>
            </ul>
          </section>
        </section>


      </div>
    </div>
  </div>
</div>
