<div class="container">
<div class="courses">
  <h1>Bacharelado em Ciência e tecnológia</h1>
  <h2>Universidade Federal de São Paulo</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100">26%</div>
  </div>
</div>
<div class="courses">
  <h1>Tecnologo em Ciência de Dados</h1>
  <h2>Universidade Cidade de São Paulo</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 36%;" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">36%</div>
  </div>
</div>
<div class="courses">
  <h1>Especialização tecnica em Gestão de projetos</h1>
  <h2>Etec de São José dos Campos</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
  </div>
</div>
<div class="courses">
  <h1>Técnico em Adimistração</h1>
  <h2>Etec de São José dos Campos</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
  </div>
</div>
</div>
